<div class="row project-viewer">
  <div class="project-handle previous-project {{unless previousProjectAvailable 'd-none'}}" onclick={{action "goToPrevious"}}>
    <i class="fa fa-2x fa-angle-left"></i>
    <span>Previous</span>
  </div>

  <div class="project-viewer-core">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5 project-viewer-media">
          <div class="project-viewer-current-media fadable" style="background-image: url({{currentPhotoURL}})" onclick={{action "enlargeImage"}}>
            <div class="image-handle previous-image {{unless previousImageAvailable 'd-none'}}">
              <i class="fa fa-2x fa-angle-left"></i>
            </div>
            <div class="image-handle next-image {{unless nextImageAvailable 'd-none'}}">
              <i class="fa fa-2x fa-angle-right"></i>
            </div>
          </div>
          {{#each projectsFiltered as |project|}}
            <div class="owl-carousel owl-theme owl-loaded fadable image-carousel {{unless (equals-to currentProject project) (if initialized 'd-none')}}">
              <div class="owl-stage-outer">
                  <div class="owl-stage">
                    {{#each project.images as |image|}}
                      <div class="owl-item" onclick={{action "selectImage" image}}><img style="background-image: url({{image}}); width:205px; height:125px;"></div>
                    {{/each}}
                  </div>
              </div>
            </div>
          {{/each}}
        </div>

        <div class="col-7 project-viewer-content fadable">
          <div class="p-4 h-100">
            {{#if currentProject}}
              {{#generic-description project=currentProject}}
                {{component (concat "project-descriptions/" currentProject.componentName)}}
              {{/generic-description}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project-handle next-project {{unless nextProjectAvailable 'd-none'}}" onclick={{action "goToNext"}}>
    <i class="fa fa-2x fa-angle-right"></i><br>
    <span>Next</span>
  </div>
</div>

<div class="project-carousel container mt-2">
  <div class="owl-carousel-small owl-theme owl-loaded">
    <div class="owl-stage-outer">
        <div class="owl-stage">
          {{#each projectsFiltered as |project|}}
            <div class="owl-item" onclick={{action (mut currentProject) project}}>
              <img src="{{if project.thumbnail project.thumbnail (get project.images 0)}}" alt="">
              <i>{{project.name}}</i>
            </div>
          {{/each}}
        </div>
    </div>
  </div>
</div>
